<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tips</title>
</head>
<body>
<div class="container panel container-tab fill-height">
    <div ng-controller="TabController as tabs" class="fill-height">
        <div class="title-block">
            <div class="container">
                <ul class="nav nav-pills">
                    <li ng-class="{ active:tabs.isSelected(1)}"><a href="#" ng-click="tabs.selectTab(1)">All Tips</a></li>
                    <li ng-class="{ active:tabs.isSelected(2)}"><a href="#" ng-click="tabs.selectTab(2)">Add Tip</a></li>
                </ul>
            </div>
        </div>
        <div ng-show="tabs.isSelected(1)" class="fill-height-tab">
            <div ng-include="'app/view/story_view/allTips_view.html'"></div>
        </div>
        <div ng-show="tabs.isSelected(2)" class="fill-height-tab">
            <div ng-include="'app/view/tips_view/newTip_view.html'"></div>
        </div>
    </div>
</div>
</body>
<script src="/app/app.js"></script>
<script src="/app/controller/controllers/tips_controllers.js"></script>
<script src="/app/controller/filters.js"></script>
<script src="/app/controller/services.js"></script>
<script src="/app/controller/directives.js"></script>
<script src="//oss.maxcdn.com/bootbox/4.2.0/bootbox.min.js"></script>
</html>