<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/style.css" />
    <link href="/node_modules/lightbox2/dist/css/lightbox.css" rel="stylesheet">
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="src/link-preview/css/link-preview.css" />-->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCE4BJQDHTTp_NmLiLSMLdJxSYzhw64UaE",
            authDomain: "askoliv.firebaseapp.com",
        databaseURL: "https://askoliv.firebaseio.com",
            storageBucket: "askoliv.appspot.com"
        };
        firebase.initializeApp(config);
    </script>
    <!--<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" type="text/javascript"></script>

    <script src="src/link-preview/js/link-preview.js" type="text/javascript"></script>

    &lt;!&ndash; Include this script below if you want to retrieve the posts inserted to database &ndash;&gt;
    <script src="src/link-preview/js/link-preview-database.js" type="text/javascript"></script>-->
</head>
<body>
    <div class="container-fluid panel container-tab fill-height">
         <section id="user-section" ng-controller="ChatController as chatCtrl" ng-init='load()' class="fill-height">
            <!--user list column of the chat page-->
            <div class="col-sm-2 column-users">
                <div class="list-group user-list fill-height">
                    <div ng-repeat="user in users">
                        <a href="#" class="list-group-item"
                           ng-click="selectConversation(user)"
                           ng-class="{active:isUserSelected(user.$id)}">
                            <span class="label" style="float: left; color:red;">
                                {{unreadBadgeMap[user.$id] == true ? '@':''}}
                            </span>
                            {{user.username | limitTo : 13}} {{user.username.length < 14 ? '' :'...'}}
                            <span class="label" ng-class="{'label-primary': isOpen(user), 'label-success': !isOpen(user)}" style="float: right">
                                {{user.status | capitalcase}}
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!--chat column of the chat page-->
            <div class="col-sm-3 column-chat divider-left divider-right">
                <div class="heading-chat-block">
                    <span class="text-chat-heading">{{user.username}}</span>
                    <span class="btn-group btn-group-xs status-buttons-group">
                        <button class="btn btn-primary" id="btn-open-assigned-inProgress" ng-click="changeStatus2()">{{getOpenAssignedButtonText()}}</button>
                        <button class="btn btn-success" id="btn-resolved" ng-click="markResolved()">Resolved</button>
                    </span>
                </div>
                <div class="container-fluid chat-block well" id= "chatscroll" scroll = "chats">
                    <ul class="list-group">
                        <li class="list-group-item chat-list" ng-repeat="chat in chats">
                            <div class="chat-bubble" ng-class="{'oliv-chat':(chat.author === 1)}">
                                <div ng-if = "chat.image">
                                    <a class="example-image-link" href = {{chat.image}} data-lightbox="example">
                                        <img class="image" src = {{chat.image}}>
                                    </a>
                                    <br>
                                </div>
                                <div ng-if = "chat.message" class="chat-text" >{{chat.message}}</div>
                                <div class="time">{{chat.time | date:'dd MMM HH:mm'}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <form ng-submit="sendReply()" class="reply-block">
                    <div id="resultDivContainer" class="input-group">
                        <span class="input-group-btn input-span" contenteditable="false">
                            <button class="btn send-btn" id="btn-image" >
                                <!--ng-click="openAttachment()"-->
                                <label class="glyphicon glyphicon-paperclip">
                                    <input class="input-btn" type="file" id="file" name="file"/>
                                </label>
                            </button>
                        </span>
                        <div class="reply-bubble">
                            <input id="reply-input" type="text" class="form-control input reply-textbox" placeholder="Type your reply" ng-model="reply"/>
                        </div>
                        <span class="input-group-btn input-span" contenteditable="false">
                            <button class="btn send-btn" id="btn-chat"><span class="glyphicon glyphicon-send"></span></button>
                        </span>
                    </div>
                </form>
                <!--<form ng-submit="uploadImage(image)" class="reply-block">-->
                    <!--<div class="fb-error" ng-show="error">{{error}}</div>
                    <div class="fb-inputs" ng-hide="isUploading">
                        <input class="fb-image-upload" fb-image-upload class="fb-input" type="file" name="image"/>
                        <input class="fb-submit" type="submit" value="Upload Image" ng-show="image.valid"/>
                    </div>
                    <div class="fb-uploading" ng-show="isUploading">
                        Uploading...
                    </div>-->
                    <!--<div id="imageDivContainer" class="input-group">

                    </div>-->
                <!--</form>-->
            </div>
            <!--tips column of the chat page-->
            <div class="col-sm-7 column-suggestions container-fluid">
                <div class="panel-group fill-height" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            <h6 class="panel-title">
                                Profile
                            </h6>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div>
                                    {{getProfileInfo()}}
                                </div>
                                <div>
                                    {{getUserID()}}
                                </div>
                                <div>
                                    {{getUserPref()}}<button class="btn btn-secondary" ng-click="updateUserPrefs()">Edit UserPrefs</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" ng-controller="TagController as tagCtrl">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <h6 class="panel-title">
                                Search by Tags
                            </h6>
                        </div>
                        <div> <!--id="collapse1"> <!--class="panel-collapse collapse in"-->
                            <div class="panel-body fill-height">
                                <input class="form-control input-sm" type="text" placeholder="Search Tags" ng-model="queryTag">
                                <div class="well well-sm tags-well">
                                    <div class="tag-bubble" ng-repeat="tag in tags | searchKey: queryTag" ng-click="selectTag(tag)">{{tag.$id}}</div>
                                </div>
                                <div>
                                    <div class="selected-tag-bubble" ng-repeat="selectedTag in selectedTags" ng-click="unselectTag(selectedTag)">{{selectedTag.$id}}</div>
                                </div>
                                <div class="well well-sm search-results-well" ng-show="selectedTags.length!=0">
                                    <div class="tip-bubble" ng-repeat="suggestion in suggestions | orderObjectBy:'matches':true" ng-click="setReply(suggestion.data.text)">
                                        <div ng-if = "suggestion.data.text" class="tip-text">{{suggestion.data.text}}</div>
                                        <div ng-if = "suggestion.data.image"><img class="tip-image" ng-src = {{suggestion.data.image}}></div>
                                        <div ng-if = "suggestion.data.tags"><span class="tag-in-tip" ng-repeat="(tagName, tagValue) in suggestion.data.tags">#{{tagName}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="/app/app.js"></script>
<script src="/app/controller/controllers/chat_controllers.js"></script>
<script src="/node_modules/lightbox2/dist/js/lightbox-plus-jquery.js"></script>
<script src="/app/controller/filters.js"></script>
<script src="/app/controller/services.js"></script>
<script src="/app/controller/directives.js"></script>
</html>